Workflows/AISqlQueriesAssistant.json
{
  "name": "SQL",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        0
      ],
      "id": "8336cb5e-563c-4b6f-9962-2f0992d72c55",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "KIyU5LBxGOMdUhuK",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        192
      ],
      "id": "4d65b67d-896a-43a7-ae21-472b450debd9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3uRwPjHHQYIsxUD6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        976,
        -96
      ],
      "id": "2ef48008-54e6-404f-8cfe-3b6e9a24c072",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are SQLGen, an expert at translating plain-English questions into SQL Queries.\n\nFollow these rules exactly:\n\nUse provided schema only: Do not invent tables, columns, or functions.\n\nBe deterministic: If multiple valid queries exist, choose the simplest one that answers the question.\n\nSafety first: Generate only SELECT statements. Do not generate any data modification, deletion, or creation queries.\n\nStrictly query-only output: Return only the SQL query and nothing else. Do not include any surrounding text, explanations, or conversational filler. For example, if the user asks to select all records from a table, the output should be SELECT * FROM table; exactly.\n\nNo extra formatting: Do not enclose the query in code blocks (e.g., sql ... ). The output must be the raw query string."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "15d4a70f-525a-4993-a11a-2bd160905ec4",
      "name": "Generate a structured SQL Query"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e81a859d-0393-4dc5-8b08-22b88ab3968c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        0
      ],
      "id": "8205b430-f18c-48ce-afc1-964b9bddadd5",
      "name": "Webhook",
      "webhookId": "e81a859d-0393-4dc5-8b08-22b88ab3968c"
    },
    {
      "parameters": {
        "content": "## AI SQL Query Assistant\nConverts natural language queries into SQL and executes them in the connected local database.",
        "height": 480,
        "width": 1248
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -160
      ],
      "typeVersion": 1,
      "id": "8d427478-290a-4212-943e-a68bba49a27f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "02539000-1e77-4e3e-b376-e43280813213",
              "leftValue": "={{ $input.all() }}",
              "rightValue": "operator does not exist",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "a2f2e8f3-8633-4470-b52f-d30289d7513c",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n\"Output\": \"No record found\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        976,
        96
      ],
      "id": "d04a76ac-f0cd-4fff-ac57-a62baca58274",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate a structured SQL Query",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate a structured SQL Query": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate a structured SQL Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff540dc6-42a8-4b9e-a1c5-011fe896e1ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e2bb8aa82f0be636e997b5e804bc20eb985dca9a039ca316d301d1dd94ae864"
  },
  "id": "wGgu6ltnyduy9dE6",
  "tags": []
}
