Workflows/ATS-Resume.json
{
  "name": "ATS-Resume",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-002",
        "options": {}
      },
      "id": "37e90331-04c7-4f5d-b20c-ea40a4d94087",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -544,
        384
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "3uRwPjHHQYIsxUD6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Application Form').item.json['E-mail'] }}",
        "subject": "We Have Received Your CV",
        "message": "=Dear {{ $('Application Form').item.json['Full Name'] }}, \n\nThank you for submitting your CV. We have received it and will review it shortly.  \n\nBest regards,\nMediusware",
        "options": {}
      },
      "id": "6d49b424-378e-4c00-b7fe-a2866d404e8d",
      "name": "Confirmation of CV Submission",
      "type": "n8n-nodes-base.gmail",
      "position": [
        80,
        336
      ],
      "webhookId": "954756dc-2946-4b78-b208-06f3df612ab5",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "pLZ1DahxcNZyMGB8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ganeshxyz95@gmail.com",
        "subject": "New Candidate CV Awaiting Review",
        "message": "=Hello HR,\n\nA new CV has been successfully received in our system. Please review the candidate's details at your earliest convenience.\n\nCandidate Name: {{ $('Application Form').item.json['Full Name'] }}\nCandidate E-mail: {{ $('Application Form').item.json['E-mail'] }}\nCandidate Linkedin: {{ $('Application Form').item.json.Linkedin }}\nCandidate Expectation: {{ $('Application Form').item.json.Expectation }}\nCandidate AI Rating: {{ $('Using AI Analysis & Rating').item.json.text }}\n\nThank you for your attention.\n\nBest regards,\nAutomated CV Screening",
        "options": {}
      },
      "id": "1531e490-74a2-405c-8ffd-529db51c7423",
      "name": "Inform HR New CV Received",
      "type": "n8n-nodes-base.gmail",
      "position": [
        64,
        48
      ],
      "webhookId": "e969a9f5-631b-4719-a4f6-87e6063cef6a",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "pLZ1DahxcNZyMGB8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "Rule 1: Do not exceed maximum of 75 words. As an AI with advanced capabilities in talent acquisition, analyze a candidate's resume against a job description. Output must be in ${output_language}. Structure: 1. Compatibility Rating: Score 1-10 with rationale. 2. ATS Score: Realistic number out of 100 such as 43, 76, 89, reflecting keyword and skills alignment. 3. Recommendation: Advise if candidate should be interviewed with reasoning. Job description: \"Software Engineer\" at Atomise AI Resume: ${resume}"
            }
          ]
        }
      },
      "id": "22a6d39f-b4ae-4348-ab4a-d6c02fcace5a",
      "name": "Using AI Analysis & Rating",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -384,
        96
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Your_Resume_CV",
        "options": {}
      },
      "id": "8bb9cf59-466f-4beb-8682-23b2238473a1",
      "name": "Convert Binary to Json",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -624,
        64
      ],
      "retryOnFail": false,
      "typeVersion": 1
    },
    {
      "parameters": {
        "formTitle": "Application for Software Engineer Position",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "requiredField": true
            },
            {
              "fieldLabel": "E-mail",
              "requiredField": true
            },
            {
              "fieldLabel": "Expectation",
              "placeholder": "2000-3000$",
              "requiredField": true
            },
            {
              "fieldLabel": "Linkedin",
              "requiredField": true
            },
            {
              "fieldLabel": "Your Resume/CV",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "d6d08fb4-18a5-4e9c-a22c-a14df85a0b52",
      "name": "Application Form",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -880,
        192
      ],
      "webhookId": "0cd422d3-e69f-4ec0-92ab-05362808c4da",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tX0nq2YRUyQAtsF5yL2sSWhHxcHeZ9Ro99TEgnEOvg4",
          "mode": "list",
          "cachedResultName": "MEDICAL DEVICES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tX0nq2YRUyQAtsF5yL2sSWhHxcHeZ9Ro99TEgnEOvg4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 694492347,
          "mode": "list",
          "cachedResultName": "ATS-Resume",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tX0nq2YRUyQAtsF5yL2sSWhHxcHeZ9Ro99TEgnEOvg4/edit#gid=694492347"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $('Application Form').item.json['Full Name'] }}",
            "E-Mail": "={{ $('Application Form').item.json['E-mail'] }}",
            "Expectation": "={{ $('Application Form').item.json.Expectation }}",
            "Linkedin": "={{ $('Application Form').item.json.Linkedin }}",
            "CV": "={{ $('Application Form').item.json['Your Resume/CV'][0].filename }}",
            "AI Score": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expectation",
              "displayName": "Expectation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Score",
              "displayName": "AI Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c4fc0c83-99a8-4554-a9b8-817c6bb397e6",
      "name": "Candidate Lists",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -176,
        352
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CyDb7sKqUWQwwb9W",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "Convert Binary to Json": [
      {
        "json": {
          "numpages": 1,
          "numrender": 1,
          "info": {
            "PDFFormatVersion": "1.4",
            "Language": "en-GB",
            "EncryptFilterName": null,
            "IsLinearized": false,
            "IsAcroFormPresent": false,
            "IsXFAPresent": false,
            "IsCollectionPresent": false,
            "IsSignaturesPresent": false,
            "Title": "Purple and White Clean and Professional Resume",
            "Creator": "Canva",
            "Producer": "Canva",
            "CreationDate": "D:20250908104052+00'00'",
            "ModDate": "D:20250908104052+00'00'",
            "Keywords": "DAGtcdfa-8k,BAFZ3yy9Hho,0",
            "Author": "Ganesh6666@#"
          },
          "text": "GANESH VUTA\nSUMMARY\nI am an Automation Specialist & Data Analyst with experience in automating business processes.\nWith 1 year of hands-on experience using platforms like n8n, Zapier, Airtable which reduce manual\neffort, and empower the teams with and automation.\nWORK EXPERIENCE\nEDUCATION\nHigher Secondary Education\nTelangana Social Welfare Residential Junior College (TSWREIS)\nJune 2017 - May 2019\nAutomated classification of medical devices by integrating FDA GUDID APIs with App Builder\n(Airtable, HubSpot, and Zapier)—reducing manual work by 90% and improving data\naccuracy for regulatory compliance.\nDeveloped Dead Lead Revival System in n8n.\nAutomated follow-up emails and event reminders, integrating HubSpot, Google Calendar,\nSlack, and internal databases using webhooks and custom APIs.\nDeveloped Fitness booking process using calendly, Zapier, Google Sheets.\nDeveloped Chatbot in n8n includes OpenAI, Webhooks, HTTP Request, Vector Store.\nDeveloped an AI SQL Query Assistant in n8n- Gemini, Webhooks, psql, Conditional logic.\nConducted data analysis with Excel and Google Sheets to deliver actionable insights for\nbusiness strategy.\nAutomation Specialist & Data Analyst , Gridlex Services Pvt Ltd Apr 2022 - Present\nKEY SKILLS\nAutomation & No-Code: n8n, Zapier, Gridlex App Builder, Airtable, HubSpot, Typeform,\nGoogle Calendar, Slack, ChatGPT, Gemini\nAPI Integration & Webhooks: APIs, CRM integrations, Custom webhooks\nScripting & AI: Basic Python and Javascript(using ChatGPT) to implement in automations,\nAutomation Agents, Blog & Content Bots\nData Analysis: Excel, Google Sheets, Data Cleaning\nOther: Workflow Design, Internal Tools Development, Process Optimization\nSecondary School Education (Equivalent to Secondary/High School Completion)\nSt. Mary’s English Medium High School\nMay 2017\nAutomation Specialist & Data Analyst\n+91 8309710225 • ganeshxyz95@gmail.com • Linkedin • Portfolio\nACHIEVEMENTS\nReduced manual classification workload by 90% via automation of FDA device processes.\nFocus: Mathematics, Physics, Chemistry (MPC)",
          "version": "5.3.31"
        }
      }
    ],
    "Using AI Analysis & Rating": [
      {
        "json": {
          "text": "1. **Compatibility Rating:** 4/10.  The resume highlights automation and data analysis skills using no-code tools, which are tangential to a Software Engineer role requiring coding proficiency.\n\n2. **ATS Score:** 35/100.  While keywords like \"API Integration\" and \"Python\" are present, the lack of substantial software engineering experience significantly lowers the score.\n\n3. **Recommendation:**  Do not interview at this time. The candidate's skills are not a strong match for a Software Engineer position.  Further experience in software development is needed before consideration."
        }
      }
    ]
  },
  "connections": {
    "Candidate Lists": {
      "main": [
        [
          {
            "node": "Inform HR New CV Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Application Form": {
      "main": [
        [
          {
            "node": "Convert Binary to Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Binary to Json": {
      "main": [
        [
          {
            "node": "Using AI Analysis & Rating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Using AI Analysis & Rating",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Inform HR New CV Received": {
      "main": [
        [
          {
            "node": "Confirmation of CV Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Using AI Analysis & Rating": {
      "main": [
        [
          {
            "node": "Candidate Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmation of CV Submission": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8343b53e-ad17-481d-8090-608227c81772",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e2bb8aa82f0be636e997b5e804bc20eb985dca9a039ca316d301d1dd94ae864"
  },
  "id": "ryvLOQcadyW8m73f",
  "tags": []
}