Workflows/chatBot.json
{
  "name": "Chat bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "063c96e9-fd36-40bb-b32d-2d37873805c3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        96,
        0
      ],
      "id": "9d08558e-51aa-49c6-9273-924757fc1c4e",
      "name": "Webhook",
      "webhookId": "063c96e9-fd36-40bb-b32d-2d37873805c3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "openai/gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        208
      ],
      "id": "cb91dc5b-414d-4984-a9e1-771efe605629",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xkuvANZj3OjbWw14",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are the official assistant for Sunrise Hospital. Your job is to answer questions clearly, concisely, and professionally. Always use formal language, suitable for a hospital setting. Do not use markdown, emojis, hashtags, or bullet symbols like *, #, -, etc.\n\nFormat your responses using plain text only. Organize information using labels and line breaks where needed. Avoid long paragraphs. Never include promotional or friendly chat tones. Never fabricate information — only answer from known hospital policies or provided knowledge base.\n\nFollow these guidelines:\n\n1. Keep every answer short, direct, and factual.\n2. Use a clean structure with clear sections.\n3. Always mention contact numbers, departments, and working hours when relevant.\n4. If the user greets (e.g., \"Hi\", \"Hello\", \"Good morning\"), respond briefly and formally and greet him.\n5. If the query is unknown or unsupported, respond professionally like:\n   “I’m sorry, I don’t have information on that. Please contact our support team.”\n\n### Examples:\n\n**Q: How can I book an appointment?**  \nAppointment Booking:  \n- Call: (555) 123-4567  \n- Website: sunrisehealthcare.com/appointments  \n- Walk-in: 9 AM to 6 PM (General OPD)\n\n**Q: What are emergency services available?**  \nEmergency Services:  \n- 24/7 Trauma and Cardiac Response  \n- Emergency Hotline: (555) 911-2345  \n- Ambulance: Available within 30 mins in city limits\n\n**Q: How can I contact a cardiologist?**  \nCardiology Department:  \n- Specialist: Dr. Sarah Wilson  \n- Appointment: Call (555) 123-4567  \n- Availability: Mon to Fri, 10 AM – 4 PM\n\nIf the query is about a department or service, respond only with the necessary info—no explanation or filler text.\nDo not repeat previous messages. Do not end answers with “let me know if I can help with anything else.”\n\nMaintain the tone of a real hospital front-desk assistant."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        352,
        0
      ],
      "id": "ae1d1895-f26e-45e0-bd4b-909b31850629",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        736,
        0
      ],
      "id": "5f1dd5f7-558e-4112-b1a0-438f9a9f56fe",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1tGjyR4Ab9lMa8D-_AWsN5vwA6D-7Ennx",
          "mode": "list",
          "cachedResultName": "sunrise-healthcare-knowledgebase-v1.txt",
          "cachedResultUrl": "https://drive.google.com/file/d/1tGjyR4Ab9lMa8D-_AWsN5vwA6D-7Ennx/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1024,
        0
      ],
      "id": "71238940-0976-43f6-bfcb-2973945e2706",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KxxYmm6JP6Wwu5zY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1280,
        0
      ],
      "id": "06694726-1ec7-4a9d-a952-a609f56a93a2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1072,
        208
      ],
      "id": "597771e6-82ab-4296-81ed-7d7421b1e23f",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        784,
        400
      ],
      "id": "1ac5554a-718f-416a-a712-5a4b65d0047f",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "ILwt0HAwLnKqNw5e",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1136,
        400
      ],
      "id": "168656b1-0bdd-4445-a192-a04e0c780409",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to answer any questions related to Sunrise Hospital, such as doctor availability, appointment booking, contact information, departments, services offered, emergency care, and facilities. If the user asks anything related to the hospital, retrieve the most relevant information from this tool and respond using it.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        544,
        208
      ],
      "id": "15541da8-10a5-4b9c-995a-46bc1353576a",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "content": "## Vector Database Ingestion Flow \nThis flow processes structured hospital or knowledge-base content and stores it in the vector database for later retrieval by the AI Agent.\n",
        "height": 656,
        "width": 448,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        -128
      ],
      "typeVersion": 1,
      "id": "c56509de-33c4-414b-8c5a-061c573458f7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## AI Agent Response Flow\nThis flow receives user queries from the webhook, sends them to the AI Agent with vector tool connected, and returns a clean, structured response.",
        "height": 656,
        "width": 928,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        -128
      ],
      "typeVersion": 1,
      "id": "38169f50-4d93-47bb-93bc-f1623944cce3",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1354b3d3-dfdb-43c3-9c3a-349f04aa4975",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34f72aadfdcd810791c973b26db36db117ecc3894a031baece5929c91fde0ab6"
  },
  "id": "bQFO7qcoIBVta5i7",
  "tags": [
    {
      "createdAt": "2025-07-27T09:38:40.164Z",
      "updatedAt": "2025-07-27T09:38:40.164Z",
      "id": "CbYgzDP4CQn5FXy5",
      "name": "healthcare"
    }
  ]
}
