Workflows/chatBot.json
{
  "name": "ChatBot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "063c96e9-fd36-40bb-b32d-2d37873805c3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        32,
        128
      ],
      "id": "64c86215-5330-4f70-b397-5d9e95a7b4ed",
      "name": "Webhook",
      "webhookId": "063c96e9-fd36-40bb-b32d-2d37873805c3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "openai/gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        336
      ],
      "id": "a608dffe-efe3-41a1-9971-40bba89b9d98",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TJlFPIc2L1lRdqZN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        672,
        128
      ],
      "id": "de4b29a3-2b36-4ae4-9004-f167667e646d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        720,
        528
      ],
      "id": "a26b006c-e35b-4498-8ca3-29044c582afa",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "T2UMRDMku90WggAi",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1072,
        528
      ],
      "id": "6aeb9fc9-0a84-4f03-806b-374f63ae731b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "## Vector Database Ingestion Flow \nThis flow processes structured hospital or knowledge-base content and stores it in the vector database for later retrieval by the AI Agent.\n",
        "height": 656,
        "width": 448,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        0
      ],
      "typeVersion": 1,
      "id": "01b0cbe3-4e69-4dc7-8992-6d1a5bca48cd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## AI Agent Response Flow\nThis flow receives user queries from the webhook, sends them to the AI Agent with vector tool connected, and returns a clean, structured response.",
        "height": 656,
        "width": 928,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "6962f5e9-701b-4cc0-91d3-3436d38d8aa4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1008,
        336
      ],
      "id": "2abf1fe7-299b-4efd-b4ef-85a021d4cd15",
      "name": "Knowledge Base Vector Store"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are the official assistant for Sunrise Hospital. Your job is to answer questions clearly, concisely, and professionally. Always use formal language, suitable for a hospital setting. Do not use markdown, emojis, hashtags, or bullet symbols like *, #, -, etc.\n\nFormat your responses using plain text only. Organize information using labels and line breaks where needed. Avoid long paragraphs. Never include promotional or friendly chat tones. Never fabricate information — only answer from known hospital policies or provided knowledge base.\n\nFollow these guidelines:\n\n1. Keep every answer short, direct, and factual.\n2. Use a clean structure with clear sections.\n3. Always mention contact numbers, departments, and working hours when relevant.\n4. If the user greets (e.g., \"Hi\", \"Hello\", \"Good morning\"), respond briefly and formally and greet him.\n5. If the query is unknown or unsupported, respond professionally like:\n   “I’m sorry, I don’t have information on that. Please contact our support team.”\n\n### Examples:\n\n**Q: How can I book an appointment?**  \nAppointment Booking:  \n- Call: (555) 123-4567  \n- Website: sunrisehealthcare.com/appointments  \n- Walk-in: 9 AM to 6 PM (General OPD)\n\n**Q: What are emergency services available?**  \nEmergency Services:  \n- 24/7 Trauma and Cardiac Response  \n- Emergency Hotline: (555) 911-2345  \n- Ambulance: Available within 30 mins in city limits\n\n**Q: How can I contact a cardiologist?**  \nCardiology Department:  \n- Specialist: Dr. Sarah Wilson  \n- Appointment: Call (555) 123-4567  \n- Availability: Mon to Fri, 10 AM – 4 PM\n\nIf the query is about a department or service, respond only with the necessary info—no explanation or filler text.\nDo not repeat previous messages. Do not end answers with “let me know if I can help with anything else.”\n\nMaintain the tone of a real hospital front-desk assistant."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        288,
        128
      ],
      "id": "5ec67f92-5068-413d-b66c-def5ae4a7cbb",
      "name": "AI Query Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to answer any questions related to Sunrise Hospital, such as doctor availability, appointment booking, contact information, departments, services offered, emergency care, and facilities. If the user asks anything related to the hospital, retrieve the most relevant information from this tool and respond using it.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        480,
        336
      ],
      "id": "c8aef1eb-006c-4156-b27e-771ee153db22",
      "name": "Query Vector Tool"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1QoxoeLXLJ0d7urvElbFVbzeyZj0kW3xc",
          "mode": "list",
          "cachedResultName": "sunrise-healthcare-knowledgebase-v1.txt",
          "cachedResultUrl": "https://drive.google.com/file/d/1QoxoeLXLJ0d7urvElbFVbzeyZj0kW3xc/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        128
      ],
      "id": "4f441991-467a-468c-a1c8-51ef7fc26899",
      "name": "Download Knowledge Base Text File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gTlmQRt7z3ZJR5RL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1216,
        128
      ],
      "id": "b04c06ad-1740-4546-b883-c22d0d0105aa",
      "name": "Extract Text from Knowledge Base File"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Query Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Query Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Query Vector Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Knowledge Base Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "AI Query Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Vector Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Query Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download Knowledge Base Text File": {
      "main": [
        [
          {
            "node": "Extract Text from Knowledge Base File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from Knowledge Base File": {
      "main": [
        [
          {
            "node": "Knowledge Base Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b3af3979-0c36-47fc-a538-64cd1b0d1c7d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e2bb8aa82f0be636e997b5e804bc20eb985dca9a039ca316d301d1dd94ae864"
  },
  "id": "51UlnJtq3EwnEKHc",
  "tags": [
    {
      "createdAt": "2025-08-13T12:29:57.557Z",
      "updatedAt": "2025-08-13T12:29:57.557Z",
      "id": "ig1Dhzxvz5PNp25A",
      "name": "healthcare"
    }
  ]
}
